  <screenshots>
    <screenshot type="default">
      <image>https://raw.githubusercontent.com/deno/szafir-flatpak/d512cef00373af347da270bbcc83aba4226ca13c/screenshots/proxy/en/wizard.png</image>
      <image xml:lang="pl">https://raw.githubusercontent.com/deno/szafir-flatpak/d512cef00373af347da270bbcc83aba4226ca13c/screenshots/proxy/pl/wizard.png</image>
    </screenshot>
    <screenshot>
      <image>https://raw.githubusercontent.com/deno/szafir-flatpak/d512cef00373af347da270bbcc83aba4226ca13c/screenshots/proxy/en/components.png</image>
      <image xml:lang="pl">https://raw.githubusercontent.com/deno/szafir-flatpak/d512cef00373af347da270bbcc83aba4226ca13c/screenshots/proxy/pl/components.png</image>
    </screenshot>
    <screenshot>
      <image>https://raw.githubusercontent.com/deno/szafir-flatpak/d512cef00373af347da270bbcc83aba4226ca13c/screenshots/proxy/en/status.png</image>
      <image xml:lang="pl">https://raw.githubusercontent.com/deno/szafir-flatpak/d512cef00373af347da270bbcc83aba4226ca13c/screenshots/proxy/pl/status.png</image>
    </screenshot>
    <screenshot>
      <image>https://raw.githubusercontent.com/deno/szafir-flatpak/d512cef00373af347da270bbcc83aba4226ca13c/screenshots/proxy/en/browsers.png</image>
      <image xml:lang="pl">https://raw.githubusercontent.com/deno/szafir-flatpak/d512cef00373af347da270bbcc83aba4226ca13c/screenshots/proxy/pl/browsers.png</image>
    </screenshot>
    <screenshot>
      <image>https://raw.githubusercontent.com/deno/szafir-flatpak/d512cef00373af347da270bbcc83aba4226ca13c/screenshots/proxy/en/scaling.png</image>
      <image xml:lang="pl">https://raw.githubusercontent.com/deno/szafir-flatpak/d512cef00373af347da270bbcc83aba4226ca13c/screenshots/proxy/pl/scaling.png</image>
    </screenshot>
  </screenshots>
