  <screenshots>
    <screenshot type="default">
      <image>https://raw.githubusercontent.com/deno/szafir-flatpak/6928942e7ca19e18f5f2753ae13db304f84dac33/screenshots/proxy/en/wizard.png</image>
      <image xml:lang="pl">https://raw.githubusercontent.com/deno/szafir-flatpak/6928942e7ca19e18f5f2753ae13db304f84dac33/screenshots/proxy/pl/wizard.png</image>
    </screenshot>
    <screenshot>
      <image>https://raw.githubusercontent.com/deno/szafir-flatpak/6928942e7ca19e18f5f2753ae13db304f84dac33/screenshots/proxy/en/components.png</image>
      <image xml:lang="pl">https://raw.githubusercontent.com/deno/szafir-flatpak/6928942e7ca19e18f5f2753ae13db304f84dac33/screenshots/proxy/pl/components.png</image>
    </screenshot>
    <screenshot>
      <image>https://raw.githubusercontent.com/deno/szafir-flatpak/6928942e7ca19e18f5f2753ae13db304f84dac33/screenshots/proxy/en/status.png</image>
      <image xml:lang="pl">https://raw.githubusercontent.com/deno/szafir-flatpak/6928942e7ca19e18f5f2753ae13db304f84dac33/screenshots/proxy/pl/status.png</image>
    </screenshot>
    <screenshot>
      <image>https://raw.githubusercontent.com/deno/szafir-flatpak/6928942e7ca19e18f5f2753ae13db304f84dac33/screenshots/proxy/en/browsers.png</image>
      <image xml:lang="pl">https://raw.githubusercontent.com/deno/szafir-flatpak/6928942e7ca19e18f5f2753ae13db304f84dac33/screenshots/proxy/pl/browsers.png</image>
    </screenshot>
    <screenshot>
      <image>https://raw.githubusercontent.com/deno/szafir-flatpak/6928942e7ca19e18f5f2753ae13db304f84dac33/screenshots/proxy/en/scaling.png</image>
      <image xml:lang="pl">https://raw.githubusercontent.com/deno/szafir-flatpak/6928942e7ca19e18f5f2753ae13db304f84dac33/screenshots/proxy/pl/scaling.png</image>
    </screenshot>
  </screenshots>
