  <screenshots>
    <screenshot type="default">
      <image>https://raw.githubusercontent.com/deno/flathub/67e5b61c60a8e0788c552b73af4c60df8eead385/screenshots/sdk_permission.png</image>
    </screenshot>
    <screenshot>
      <image>https://raw.githubusercontent.com/deno/flathub/67e5b61c60a8e0788c552b73af4c60df8eead385/screenshots/sdk_document.png</image>
    </screenshot>
    <screenshot>
      <image>https://raw.githubusercontent.com/deno/flathub/67e5b61c60a8e0788c552b73af4c60df8eead385/screenshots/sdk_pin.png</image>
    </screenshot>
  </screenshots>
