.flatpak-builder
builddir
buildsrc
repo
.vscode
.logs
result
result-dev
build-dev/
szafir-host-proxy/build
szafir-host-proxy/generated_permissions.h

# packit / mock build output
szafir-host-proxy-*.tar.gz
*.src.rpm
*.x86_64.rpm
*.noarch.rpm
build.log
root.log
state.log
hw_info.log
installed_pkgs.log
mock.log
