[Desktop Entry]
Type=Application
Name=SzafirHostProxy
Comment=Proxy for Szafir browser integration
Exec=szafir-host-proxy --show-status-window
Icon=pl.deno.kir.szafirhostproxy
Terminal=false
Categories=Office;Utility;
StartupNotify=false
