  - name: pcsc-lite
    buildsystem: meson
    config-opts:
      - -Dlibudev=false
      - -Dlibsystemd=false
      - -Dusb=false
      - -Dlibusb=false
      - -Dpolkit=false
      - -Dserial=false
      - -Dipcdir=/run/pcscd
    post-install:
      - install -Dm644 ../COPYING /app/share/licenses/$FLATPAK_ID/pcsc-lite/COPYING
    sources:
      - type: archive
        url: {{ pcsc_lite.source_url }}
        sha256: {{ pcsc_lite.source_sha256 }}
