app-id: {{ app_id }}
runtime: org.kde.Platform
runtime-version: '6.10'
sdk: org.kde.Sdk
command: szafir-host-proxy
sdk-extensions:
  - org.freedesktop.Sdk.Extension.openjdk25

finish-args:
{% for group in finish_arg_groups %}
{% for line in group.description_lines %}
  # {{ line }}
{% endfor %}
{% for arg in group.args %}
  - {{ arg }}
{% endfor %}
{% endfor %}

cleanup:
  - /include
{% for comp in system_components %}
{% for path in comp.cleanup %}
  - {{ path }}
{% endfor %}
{% endfor %}
  - /lib/pkgconfig
  - /share/doc
  - /share/man
  - /sbin

modules:
{% include 'fragments/openjdk_module.yml.j2' %}
{% for comp in system_components %}

  - name: {{ comp.id }}
    buildsystem: {{ comp.build.buildsystem }}
    config-opts:
{% for opt in comp.build.config_opts %}
      - {{ opt }}
{% endfor %}
    post-install:
      - install -Dm644 ../COPYING /app/share/licenses/$FLATPAK_ID/{{ comp.id }}/COPYING
    sources:
      - type: archive
        url: {{ comp.source_url }}
        sha256: {{ comp.source_sha256 }}
{% endfor %}

  # Build-time dep: CMake configure runs generate_permissions_header.py (imports yaml);
  # the KDE SDK ships no yaml module, so vendor PyYAML into the prefix.
  - name: python3-pyyaml
    buildsystem: simple
    build-commands:
      - pip3 install --exists-action=i --no-index --find-links="file://${PWD}" --prefix=${FLATPAK_DEST} "PyYAML" --ignore-installed --no-build-isolation
    sources:
      - type: file
        url: https://files.pythonhosted.org/packages/05/8e/961c0007c59b8dd7729d542c61a4d537767a59645b82a0b521206e1e25c2/pyyaml-6.0.3.tar.gz
        sha256: d76623373421df22fb4cf8817020cbb7ef15c725b9d5e45f17e189bfc384190f

  - name: szafir-host-proxy
    buildsystem: cmake-ninja
    config-opts:
      - -DAPP_ID={{ app_id }}
      - -DAPP_VERSION={{ app_version }}
{% if szafir_dev %}
      - -DSZAFIR_DEV=ON
{% endif %}
    sources:
      - type: dir
        path: szafir-host-proxy
      - type: file
        path: szafir-host-proxy/LICENSE
      - type: file
        path: szafir-host-proxy/szafir_license_en.md
      - type: file
        path: szafir-host-proxy/szafir_license_pl.md

  - name: szafir-icons
    buildsystem: simple
    build-commands:
      - install -D -m 644 proxy_icon.svg /app/share/icons/hicolor/scalable/apps/{{ app_id }}.svg
      - install -D -m 644 {{ metainfo_file }} /app/share/metainfo/{{ app_id }}.metainfo.xml
      - install -D -m 644 {{ app_id }}.desktop /app/share/applications/{{ app_id }}.desktop
    sources:
      - type: file
        path: szafir-host-proxy/proxy_icon.svg
      - type: file
        path: szafir-host-proxy/{{ metainfo_file }}
      - type: file
        path: {{ app_id }}.desktop
