app-id: {{ app_id }}
runtime: org.kde.Platform
runtime-version: '6.10'
sdk: org.kde.Sdk
command: szafir-host-proxy
{% if bundled_host %}
sdk-extensions:
  - org.freedesktop.Sdk.Extension.openjdk25
{% endif %}

finish-args:
{% for group in finish_arg_groups %}
{% for line in group.description_lines %}
  # {{ line }}
{% endfor %}
{% for arg in group.args %}
  - {{ arg }}
{% endfor %}
{% endfor %}
{% if bundled_host %}

cleanup:
  - /include
{% for comp in system_components %}
{% for path in comp.cleanup %}
  - {{ path }}
{% endfor %}
{% endfor %}
  - /lib/pkgconfig
  - /share/doc
  - /share/man
  - /sbin
{% endif %}

modules:
{% if bundled_host %}
{% include 'fragments/openjdk_module.yml.j2' %}
{% for comp in system_components %}

  - name: {{ comp.id }}
    buildsystem: {{ comp.build.buildsystem }}
    config-opts:
{% for opt in comp.build.config_opts %}
      - {{ opt }}
{% endfor %}
    post-install:
      - install -Dm644 ../COPYING /app/share/licenses/$FLATPAK_ID/{{ comp.id }}/COPYING
    sources:
      - type: archive
        url: {{ comp.source_url }}
        sha256: {{ comp.source_sha256 }}
{% endfor %}

  - name: szafirhost
    buildsystem: simple
    build-commands:
      - install -D -m 755 start-szafir-host-native.sh /app/bin/start-szafir-host-native.sh
    sources:
      - type: file
        path: szafir-host-proxy/start-szafir-host-native.sh
{% if include_installer_extra %}
      - type: extra-data
        filename: {{ installer_extra_data.filename }}
        url: {{ installer_extra_data.url }}
        sha256: {{ installer_extra_data.sha256 }}
        size: {{ installer_extra_data.size }}
{% endif %}
{% if include_library_extra %}
{% for library in library_extra_data %}
      - type: extra-data
        filename: {{ library.filename }}
        url: {{ library.url }}
        sha256: {{ library.sha256 }}
        size: {{ library.size }}
{% endfor %}
{% endif %}

{% endif %}

  - name: szafir-host-proxy
    buildsystem: cmake-ninja
    config-opts:
{% if bundled_host %}
      - -DBUNDLED_HOST=ON
{% endif %}
      - -DAPP_ID={{ app_id }}
      - -DAPP_VERSION={{ app_version }}
    sources:
      - type: dir
        path: szafir-host-proxy
      - type: file
        path: szafir-host-proxy/LICENSE
      - type: file
        path: szafir-host-proxy/szafir_license_en.md
      - type: file
        path: szafir-host-proxy/szafir_license_pl.md
{% if bundled_host %}
      - type: file
        path: szafir-host-proxy/components.json
{% endif %}

  - name: szafir-icons
    buildsystem: simple
    build-commands:
      - install -D -m 644 proxy_icon.svg /app/share/icons/hicolor/scalable/apps/{{ app_id }}.svg
      - install -D -m 644 {{ metainfo_file }} /app/share/metainfo/{{ app_id }}.metainfo.xml
      - install -D -m 644 {{ app_id }}.desktop /app/share/applications/{{ app_id }}.desktop
    sources:
      - type: file
        path: szafir-host-proxy/proxy_icon.svg
      - type: file
        path: szafir-host-proxy/{{ metainfo_file }}
      - type: file
        path: {{ app_id }}.desktop
