app-id: {{ app_id }}
runtime: org.kde.Platform
runtime-version: '6.10'
sdk: org.kde.Sdk
command: szafir-host-proxy
sdk-extensions:
  - org.freedesktop.Sdk.Extension.openjdk25

finish-args:
{% for group in finish_arg_groups %}
{% for line in group.description_lines %}
  # {{ line }}
{% endfor %}
{% for arg in group.args %}
  - {{ arg }}
{% endfor %}
{% endfor %}

cleanup:
  - /include
{% for comp in system_components %}
{% for path in comp.cleanup %}
  - {{ path }}
{% endfor %}
{% endfor %}
  - /lib/pkgconfig
  - /share/doc
  - /share/man
  - /sbin

modules:
{% include 'fragments/openjdk_module.yml.j2' %}
{% for comp in system_components %}

  - name: {{ comp.id }}
    buildsystem: {{ comp.build.buildsystem }}
    config-opts:
{% for opt in comp.build.config_opts %}
      - {{ opt }}
{% endfor %}
    post-install:
      - install -Dm644 ../COPYING /app/share/licenses/$FLATPAK_ID/{{ comp.id }}/COPYING
    sources:
      - type: archive
        url: {{ comp.source_url }}
        sha256: {{ comp.source_sha256 }}
{% endfor %}

  - name: szafir-host-proxy
    buildsystem: cmake-ninja
    config-opts:
      - -DAPP_ID={{ app_id }}
      - -DAPP_VERSION={{ app_version }}
    sources:
      - type: dir
        path: szafir-host-proxy
      - type: file
        path: szafir-host-proxy/LICENSE
      - type: file
        path: szafir-host-proxy/szafir_license_en.md
      - type: file
        path: szafir-host-proxy/szafir_license_pl.md

  - name: szafir-icons
    buildsystem: simple
    build-commands:
      - install -D -m 644 proxy_icon.svg /app/share/icons/hicolor/scalable/apps/{{ app_id }}.svg
      - install -D -m 644 {{ metainfo_file }} /app/share/metainfo/{{ app_id }}.metainfo.xml
      - install -D -m 644 {{ app_id }}.desktop /app/share/applications/{{ app_id }}.desktop
    sources:
      - type: file
        path: szafir-host-proxy/proxy_icon.svg
      - type: file
        path: szafir-host-proxy/{{ metainfo_file }}
      - type: file
        path: {{ app_id }}.desktop
